.filter-item {
    padding: 8px;
    display: flex;
    color: var(--fine-grey);
    border: 1px solid var(--fine-grey);
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
    font-size: 12px;
    cursor: pointer;
}
.filter-item:hover {
    border: 1px solid rgb(238, 120, 46);
    color: rgb(238, 120, 46);
}

.filter-name {
    padding: 0px 20px;
}
 