.menu-section {
    margin-top: 36px;
}

.hl {
    border: 1.9px solid rgb(231, 231, 231);
    margin-bottom: 32px;
}    

.menu-category-name {
    font-weight: 900;
    font-size: 28px;
}       
.menu-alignment {
    width: 660px;
    margin: 40px 56px 0px 56px;
}

.recommended-menu {
    display: flex;
    justify-content: space-between;
}
.Menu-Button {
    background-color: black ;
    color: white;
    padding: 7px 28px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer ;
}